/* CSS Document */

body{
    background-color: lightgreen;
}

#one{
    font-family: 'Impact';
}
#two{
    font-family: 'Times New Roman';
}
.logo {
    height:50px;
    width: 50px;
}

#league{
    position: relative;
}

#Sett {
    width: 100%;
    height: auto;
    margin: 20px;
}

#text{
    left:50%;
    border-style: dotted;
    border-width: thin;
    text-shadow: 5px 5px 5px purple;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}

#floatedtf{
    float: right;
    border-radius: 25px;
    background: #73ad21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#tfImg{
    width: 150px;
}